body {

  margin: 0px;
  font-family: "Roboto", sans-serif;

}

.background {

  height: 781px;
  width: 100%;
  background-color: coral;
  
}

.game {

  display: flex;
  padding: 100px 0px 0px 100px;
  flex-wrap: wrap;
  margin: auto;
  width: 400px;
  
}

.game div {

  height: 110px;
  width: 100px;
  background-color: #000;
  border: 1px solid white;
  transition: 0.3s;
  color: rgb(255,130,255);
  font-size: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.game div:hover {

  background-color: rgb(26, 25, 25);

}

h1 {

  margin-top: 0px;
  font-family: cursive;
  padding-top: 50px;
  text-align: center;
}

h2 {

 color: #fefbd8;
  text-align: center;
  font-family: cursive;
}