  
* {
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
    background: #e5edef;
}


.background {
    display: block;
    justify-content: center;
    width: 600px;
    height: 400px;
    margin: auto;
    margin-top: 100px;
    padding-top: 100px;
    background-color: #e5edef;
    
}
.main-upper {
    align-self: center;
    justify-content: center;
    position: static;
    width: 250px;
    height: 160px;
    margin-left: 150px;
    background-color: #a0bfbd;
    border: 5px double #80aaa6;
    border-radius: 50% 50% 0% 0%;
}
.upper-left {
    float: left;
    width: 56px;
    height: 140px;
    margin-top: 20px;
    background-color: #e5edef;

    border-radius: 90% 10% 10% 10%;
}
.middle-cover {
    display: block;
    float: left;
    width: 125px;
    height: 280px;
    margin-top: 10px;
    background-color: #a0bfbd;
    border: 5px double #80aaa6;
    border-radius: 20%;
}
.upper-middle {
    float: left;
    width: 120px;
    height: 160px;
    background-color: #e5edef;
    border-radius: 20%;
}
.upper-right {
    float: left;
    width: 56px;
    height: 140px;
    margin-top: 20px;
    background-color: #e5edef;
    border-radius: 10% 90% 10% 10%;
}
.main-lower {
    align-self: center;
    justify-content: center;
    position: static;
    width: 450px;
    height: 160px;
    margin-top: -20px;
    margin-left: 50px;
    background-color: #a0bfbd;
    border: 5px double #80aaa6;
    border-radius: 50% 50% 10% 10%;
}

.tyre-left {
    position: relative;
    float: left;
    width: 100px;
    height: 100px;
    margin-top: -15px;
    background-color: #b5a89b;
    border: 5px double #d7cdc2;
    border-radius: 50%;
}
.tyre-left1 {
    position: relative;
    width: 50px;
    height: 50px;
    margin-top: 24px;
    margin-left: 24px;
    background-color: #d2e2e0;
    border-radius: 50%;
}
.tyre-right {
    position: relative;
    width: 100px;
    height: 100px;
    margin-top: -15px;
    margin-left: 50px;
    background-color: #b5a89b;
    border: 5px double #d7cdc2;
    border-radius: 50%;
}
.tyre-right1 {
    position: relative;
    width: 50px;
    height: 50px;
    margin-top: 24px;
    margin-left: 24px;
    background-color: #d2e2e0;
    border-radius: 50%;
}
.headlight1 {
    position: relative;
    width: 20px;
    height: 40px;
    margin-top: 80px;
    margin-left: -20px;
    background-color: #b5a89b;

    border-radius: 50% 0% 0% 50%;
}

.headlight2 {
    width: 20px;
    height: 40px;
    margin-top: -130px;
    margin-left: 445px;
    background-color: #ffb16d;
    border-radius: 0% 50% 50% 0%;
}