@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&family=Poppins:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:ital,wght@1,100&family=Roboto&display=swap");

body {
    margin: 0;
    padding: 0;
}

.navigation {
    display: flex;
    background-color: white;
    margin: 0;
    padding-right: 30px;
    justify-content: space-between;
}
.logo img {
    height: 35px;
    padding: 10px;
    margin-left: 25px;
}
nav a {
    display: block;
    float: left;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: black;
    text-decoration: none;
    margin-right: 0px;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

nav a :active {
    text-decoration: underline;

}

.element a {
    display: block;
    float: left;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: black;
    text-decoration: none;
    margin-right: 0px;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 0px;
}

.element a:active {
    text-decoration: underline;
}


.menu-toggle {
    visibility: hidden;
    display: none;
}
.btn-menu {
    visibility: hidden;
    display: none;
}
button {
    visibility: hidden;
    margin: 0;
    padding: 0;
}

.heading {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 30px 0px 30px 0px;
    background-color: rgb(50, 100, 255);
}

.heading div {
    text-align: center;
}
.heading .heading1 {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin: 30px;
    padding: 0;
}

.heading .heading2 {
    font-family: "Roboto";
    font-size: 22px;
    word-spacing: 2px;
    letter-spacing: 1px;
    color: white;
    margin: 0;
    padding: 0;
}

.user-emailid {
    margin: 0;
    padding: 0;
}

.user-emailid input[type="email"] {
    margin-top: 10px;
    margin-bottom: 25px;
    margin-right: 10px;
    padding-left: 10px;
    align: left;
    width: 50%;
    height: 40px;
    border: none;
    outline-color: cornflowerblue;
    font-size: 16px;
}

.btn-improve {
    background-color: rgb(247, 39, 39);
    color: white;
    border: none;
    font-family: "raleway";
    font-size: 14px;
    padding: 12px;
}

.btn-improve:hover {
    background-color: rgb(206, 22, 22);
}

.main-container {
    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: silver;
}

.row-container {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    flex-wrap: wrap;

}


.image-container {
    width: 360px;
    margin: 15px;
    padding: 20px;
    background-color: white;
    box-sizing: inherit;
    -webkit-tap-highlight-color:transparent;
}

.image-container img {
    width: 100%;
    /*object-fit: scale-down;*/
    align: center;
}

.image-container p {
    width: 100%;
    float: none;
}

.caption1 {
    font-family: "raleway";
    font-size: 30px;
    line-height: 40px;

    margin-bottom: 0;
}
.caption1 a {
    text-decoration: none;
    color: black;
}

.caption1 a:hover {
    text-decoration: underline;
}
.caption2 {
    font-family: "raleway";
    margin-top: 5px;
    font-size: 14px;
    color: gray;
}
.caption2 a {
    color: gray;
    text-decoration: underline;
    text-decoration-style: dotted;
}
.caption2 a:hover {
    color: black;
}

.caption3 {
    font-family: "raleway";
    font-size: 16px;
    line-height: 30px;
    color: black;
    margin-top: 25px;
}
.btn-continue {
    background-color: rgb(247, 39, 39);
    color: white;
    border: none;
    font-family: "raleway";
    font-size: 14px;
    padding: 12px;
}

.btn-continue:hover {
    background-color: rgb(206, 22, 22);
}

.review-comment {
    display: block;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.review-comment img {
    height: 20px;
    width: 20px;
    padding-right: 10px;
}

.reviews {
    display: flex;
    justify-content: left;
    margin-bottom: 5px;
}

.comments {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
}

.review-comment a {
    font-family: "raleway";
    font-size: 14px;
    color: gray;
    text-decoration: none;
    padding-top: 4px;
}
.review-comment a:hover {
    color: black;
}

.footer-navigation {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    height: 60px;
}

.footer-navigation a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.footer-navigation nav a :hover {

   background-color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 600px) {
    .Navigation {
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: white;
        margin: 0;
    }

    .element {
        display: none;
    }
    .element a {
        display: none;
    }

    .btn-menu {
        visibility: visible;
        display: flex;
        float: none;
        width: 100%;
        justify-content: center;
    }
    .btn-menu button {
        float: none;
        visibility: visible;
        margin: 0;
        padding: 0;
        width: 100px;
        height: 30px;
        border: none;
        font-family: "Raleway", sans-serif;
        font-size: 16px;
        background-color: rgb(50, 100, 255);
    }
    button i {
        color: white;
        width: 100px;
        padding: 0;
        margin: 0;
    }
    #menu-toggle {
        display: flex;
        justify-content: center;
        float: none;
        width: 100%;
        font-family: "raleway", sans-serif;
        font-size: 16px;
    }
    #menu-toggle p {
        text-align: center;
        font-family: "raleway", sans-serif;
        font-size: 15px;
        font-weight: 600;
    }
    #menu-toggle a {
        width: 100%;
        text-decoration: none;
        color: black;
        font-family: "raleway", sans-serif;
        font-size: 16px;
 
    }
    .image-container {
        width: 100%;
    }
}