body {
  font-family: sans-serif;
  margin: 0;
}
.header {
  width: 100%;
  height: 74px;
  display: flex;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: space-between;
}
.image img {
  height: 50px;
  margin-left: 90px;
  width: 227px;
  margin-top: 10px;
}

.form-control {
  font-size: 16px;
  border: 2px solid purple;
  width: 120px;
  height: 35px;
  margin-top: 20px;
  padding-left: 15px;
  border-radius: 5px;
  margin-right: 100px;
  color: purple;
}

.main-containar {
  text-align: center;
  padding-top: 30px;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}
.doctor-name {
  text-align: center;
}
.doctor-name h1 {
  font-size: 25px;
  color: #000;
  margin-top: 3px;
}
.tag {
  text-align: center;
  margin-top: -14px;
  color: #575757;
  font-size: 14px;
}
.logo img {
  border-radius: 32px;
  padding: 10px;
 width:65px;
  height:95px;
  padding-left: 18px;
}
.image-containar {
 
  display: inline-block;
  justify-content: center;
  height: 110px;
  width: 100px;
  border: 1px solid #eeeeee;
  border-radius: 50%;
  margin-left: 607px;
  margin-top: 18px;
}
.middel-containar {
  width: 100%;
  height: 365px;
  background-color: #f7f7f7;
  margin-top: -43px;
  padding-top: 1px;
}
.doctor-containt {
  height: 260px;
  width: 1038px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 45px;
  margin-left: 119px;
}
.tagline {
  text-align: center;
  padding-top: 16px;
  font-size: 21px;
  font-weight: 600; 
  color: #575757;
}
.about {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
}
.gender {
  font-size: 13px;
  padding-left: 15px;
  padding-top: 10px;
}
.specialty {
  font-size: 13px;
  padding-right: 15px;
  padding-top: 10px;
  color: #575757;
}
.box{
  display: flex;
  justify-content: space-between;
  padding-top: 7px;
  font-family: "Roboto", sans-serif;
  color: #575757;
}
.first-raw {
  padding-left: 15px;
}
.second-raw {
  padding-right: 15px;
}
.location-box {
  font-size: 13px;
  padding-left: 15px;
  padding-top: 70px;
  color: #575757;
}
.registration {
  font-size: 13px;
  padding-right: 15px;
  padding-top: 70px;
   color: #575757;
}
.button {
  font-family: "Roboto", sans-serif
  border: 1px solid #772386;
  border-radius: 10px;
  height: 30px;
  width: 81%;
  background-color: #772386;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-left: 115px;
  padding-top: 12px;
  transition: 0.5s;
}
.button:hover {
  background-color: #e18e00;
  border: 1px solid #e18e00;
}
.footer-text {
  color: #fff;
  font-size: 16px;
}
.button i {
  padding-left: 5px;
  font-size: 16px;
}
.footer a {
  color: white;
  text-decoration: none;
}

@media (max-width: 800px) {
  
   .header {

    width: 124%;

   }


  .form-control {
    margin-right: 30px;
    font-size: 14px;
  }
  .main-containar {
    
    width: 100%;
    font-size: 28px;

  }
  .image-containar {
    margin-left: 140px;
  }
  .doctor-containt {
    width: 369px;
    margin-left: 20px;
  }
  .button {
    margin-left: 27px;
    width: 89%;
  }
}