@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&family=Poppins:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:ital,wght@1,100&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'poppins','sans-serif';
}

.flex-container
{
  
    background-color: red;
    height: 60px;
    
    display: flex;
    justify-content: space-between;
    
    
}


#menu{
    width: 35px;
    height: 30px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
    padding-right: 15px;
}

.bar{
    height: 5px;
    width: 100%;
    background-color: #b81568;
    display: block;border-radius: 5px;
    transform: 0.3s ease;
}

#bar1{
    transform: translateY(-4px);
}

#bar3{
    transform: translateY(4px);
}

.change .bar{
    background-color: white;
}

.change #bar1{
    transform: translateY(4px) rotateZ(45deg) ;
}

.change #bar3{
    transform: translateY(-6px) rotateZ(45deg) ;
}
.change #bar2{
    opacity: 0;
}



  nav a
  {
     color: antiquewhite;
     font-size: 25px;
     text-decoration: none;
     margin-right: 25px;
     display: block;
     height: 60%;
     float: left;
     padding-top: 20px;
     padding-right: 20px;
     padding-left: 20px;
     padding-bottom: 12px;
     font-family: sans-serif;
  }

  nav a:hover
  {
      background-color:#45567d ;
      display: flex;

  }

  .flexhero-header
  {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303841;
    text-align: center;
  }

  .flexhero-header div
  {
      border:1px black;
  }

  .flexhero-header h1 {
      font-family:'raleway', sans-serif;
      color: white;
      font-size: 50px;
      margin: 0px;
  }

  .flexhero-header .tagline 
  {
    font-family: 'Poppins', sans-serif;
    color: red;
    font-size: 40px;
    
  }

  
  .photos-title{
    font-size: 40px;
    color:white;
    text-decoration-line: underline;
    text-decoration: bold;
    text-align: center;
    background-color:#627194;  
    height: 80px; 
    padding-top: 10px;
}

  .photos-title h2{
    font-family: 'raleway', sans-serif;
    font-weight: 700;
  }

 .photos {
     background-color:#627194;     
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    
  }

.photos div {
  background-color: #f1f1f1;  

  margin: 50px;
  text-align: center;  
  font-size: 30px;
   
}

.photos .group{
    width: 100%;
}
  
  .photos img{
    width: 350px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

.image-caption p{
  margin: 0px;
  padding-top: 0px;
  width: 350px;
  height: 45px;
  background-color: black;
  
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  text-decoration: bold;
  color: white;
  text-align: center;
  padding-top: 20px;
  
  .show1 {
      color: black;
  }
}

.show1{
  
  color: black;
  transition: color .5s ease-in-out;

}
.image-caption p:hover .show1{
  
      color: brown;
  
}

.shownext {
  display: flex;
  justify-content: center;
  background-color: #627194;
  transition: background 0.3s ease-out;
  transition-delay: 0s;
  transition-timing-function: ease-out;
  transition-property: background;
}

.shownext a {
  background-color: black;
  color: white;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 80px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  text-decoration: none;
  border-radius: 4px;  
  font-weight: bold;
  
  /*width: 150px;*/
}
.shownext a:hover {
  background-color: red;
  
}
.shownext a:hover .next1{
  background-color: red;
  word-spacing: 7px;
  transition: word-spacing 0.5s ease-in-out;
  
}

.Flex-contact {
  display: flex;
  height: 300px;
  margin: 0;
  background-color: rgb(41, 41, 41);
  justify-content: space-around;
  
}
.Flex-contact div {
  text-align: center;

}

.contact-greet {
  margin-top: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: white;
  text-align: center;
  background-color: rgb(41, 41, 41);
  justify-content: center;
  box-sizing: inherit;
  margin: 0;
  padding-top: 50px;
  width: 100%;
}

.Flex-Contact .contact-tagline {
  width: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,'poppins' sans-serif;
  font-size: 20px;
  font-style: italic;
  word-spacing: 2px;
  color: white;
  background-color: rgb(41, 41, 41);
 
}

.Flex-contact .social-media {
  display: flex;
  height: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  color: white;
  margin: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(41, 41, 41);
}

.Flex-contact table td{
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  color: white;
  align-items: center;    
}

.smlogo{
  width: 17px;
  height: 20px;
  padding-right: 5px;
}
.social-media{
    background-color: rgb(41, 41, 41);
    justify-content: center;
    text-align: center;
    padding-left: 190px;
    align-items: center;
    marker-left: 30px;
}


.facebook{
  padding: 30px;
  font-family: "Font Awesome 5 Brands", sans-serif;
  font-size: 30px;
  color: white;
  
}

.facebook:hover{
  color: white;
  transition: padding .5s ease-in-out;
  padding-top: 40px;
  padding-bottom: 0;
}

.github{
  padding: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  color: white;
  
}

.github:hover{
  color: white;
  transition: padding .5s ease-in-out;
  padding-top: 40px;
  padding-bottom: 0;
}

.twitter{
  padding: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  color: white;
  
}

.twitter:hover{
  color: white;
  transition: padding .5s ease-in-out;
  padding-top: 40px;
  padding-bottom: 0;
}

.email {
  padding: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  color: white;
  
}

.email:hover{
  color: white;
  transition: padding .5s ease-in-out;
  padding-top: 40px;
  padding-bottom: 0;
}

.call{
  padding: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  color: white;
  
}

.call:hover{
  color: white;
  transition: padding .5s ease-in-out;
  padding-top: 40px;
  padding-bottom: 0;
}

.Flex-contact .social-media img {
  height: 20px;
}



.copyright {
  display: flex;
  height: 100px;
  margin: 0;
  background-color: rgb(41, 41, 41);
  justify-content: space-evenly;
  border-top: 4px solid var(--main-red);
  
}    
  
.hr {
  display: block;
  background-color: rgb(41, 41, 41);
  margin: 0;
  padding: 0;
}   

hr {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  border: 2px solid red;
  
}

.copyright .bottomline {
  margin-top: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  color: white;
  align: center;
}
