
body{
    font-family: 'Noto Sans', sans-serif;
    background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover; 
    margin:0 auto;
    width:85%;
    min-width:300px;
    background-attachment: fixed;
    
}
#title{
    text-align: center;
}
#survey-form{
    background-color:rgb(53, 45, 133);
   /* padding:10px; */
    margin: auto;
    width:60%;
    border-radius:5px;
    color: white;

}



form {
  background:darkblue;
  padding: 25px 15px;
  border-radius: 20px;
  width: 400px;
  margin: auto;
  opacity: unset;
}
h1 {
  font-weight: 400;
  line-height: 1.2;
}

p {
  font-size: 1.125rem;
}

h1,
p {
  margin-top: 1;
  margin-bottom: 0.5rem;
}

label {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

input,button,select,textarea {
  margin: 0px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
input{
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  appearance:textfield;
  cursor: text;
}
button {
  border: none;
}

.container {
  width: 100%;
  margin: 3.125rem auto 0 auto;
}



.header {
  padding: 0 0.625rem;
  margin-bottom: 1.875rem;
  color: white;
}

.description {
  font-style: italic;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.clue {
  margin-left: 0.25rem;
  font-size: 0.9rem;
  color: #e4e4e4;
}

.text-center {
  text-align: center;
}


.imput-heading {
  margin: 2px auto 5px auto;
  padding: 20px;
}
.form-input {
  display: block;
  width: 50%
  height: 10px;
  padding: 10px 8px;
  background-color: navy blue;
  border: 3px solid #cedfda;
  border-radius: 2px;
}

.form-group {
  margin: 0 auto 8px auto;
  padding: 10px;
  width: 92%;
}

.form-control {
  display: block;
  width: 98%;
  height: 10px;
  padding: 10px 5px;
  color: #495057;
  background-color:#fff;
  background-clip: padding-box;
  border: 2px solid #ced4da;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  overflow: visible;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 10px;
  min-height: 18px;
  min-width: 18px;
}

.input-textarea {
  min-height: 120px;
  width: 95%;
  padding: 0.825rem;
  resize: vertical;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  background: green;
  color: inherit;
  border-radius: 8px;
  cursor: pointer;
}
