body{
    font-family: 'Noto Sans', sans-serif;
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fgithub.com%2FfreeCodeCamp%2Ftestable-projects-fcc%2Fissues%2F1045&psig=AOvVaw3p_aJEP3Mh41vsycquCKsN&ust=1596390970545000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCOipyJ_K-uoCFQAAAAAdAAAAABAD); 
    margin:0 auto;
    background-attachment: fixed;
    width:85%;
    min-width:300px;
    /* border: solid 1px; */
}
#title{
    text-align: center;
}

.form-group {

    display: block;
    position: relative;
    margin: 40px auto;
    height: auto;
    width: 500px;
    padding: 20px;
}

.form-group ul {

    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

ul li {

    color: #AAAAAA;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #333;
}

ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

ul li label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  padding: 25px 25px 25px 80px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

ul li:hover label{
    color: #FFFFFF;
}

ul li .check{
  display: block;
  position: absolute;
  border: 5px solid #AAAAAA;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 30px;
  left: 20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

ul li:hover .check {
  border: 5px solid #FFFFFF;
}

ul li .check::before {
  display: block;
  position: absolute;
    content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 5px;
    left: 5px;
  margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
  border: 5px solid #0DFF92;
}

input[type=radio]:checked ~ .check::before{
  background: #0DFF92;
}

input[type=radio]:checked ~ label{
  color: #0DFF92;
}


#survey-form{
    background-color:rgb(53, 45, 133);
    padding:20px;
    margin:0 auto;
    width:50%;
    border-radius:5px;

}
#description{
    text-align: center;
}
#submit{
    margin: 10px auto;
    background-color: #fcf7b8;
    color: #000000;
    text-align: center;
    border: none;
    padding: 10px;
    font-weight: bold;
}
.container{
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    height: min-content;
    background-color: rgb(53, 45, 133);
    opacity: 0.9;
}
.left{
    text-align:right;
}

.textbox{
    max-width: 400px;
    height: 20px;
}
.combobox{
    max-width:200px;
    height: 25px;
}

@media (max-width: 700px){
    .textbox{
        max-width: 230px;
        height: 20px;
    }
    .container{
        grid-template-columns: 1fr;
    }
    .left{
        text-align:left;
    }
    #survey-form{
        width:60%;
    }
}
textarea{
    max-width: 400px;
    height:50px;
}

.button-centered{
    margin: 0 auto;
    text-align: center;
} body{
    font-family: 'Noto Sans', sans-serif;
    background-color: #fcf7b8;
    margin:0 auto;
    width:85%;
    min-width:300px;
    /* border: solid 1px; */
}
#title{
    text-align: center;
}
#survey-form{
    background-color:#edebe6;
    padding:20px;
    margin:0 auto;
    width:50%;
    border-radius:5px;

}
#description{
    text-align: center;
}
#submit{
    margin: 10px auto;
    background-color: #fcf7b8;
    color: #000000;
    text-align: center;
    border: none;
    padding: 10px;
    font-weight: bold;
}
.container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap:10px;
}
/*input[type="text"], input[type="email"], input[type="number"]{
    
}*/
.left{
    text-align:right;
}

.textbox{
    max-width: 400px;
    height: 20px;
}
.combobox{
    max-width:200px;
    height: 25px;
}

@media (max-width: 600px) {

    .textbox{
        max-width: 230px;
        height: 20px;
    }
    
    .left{
        text-align:left;
    }
    #survey-form{
        width:100%;
    }
}
textarea{
    max-width: 400px;
    height:50px;
}

.button-centered{
    margin: 0 auto;
    text-align: center;
} 

@media (max-width: 600px) {

    .container {
        width: 100%;
    }
    .header {
        font-size: 20px; 
    }
}