* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-color: rgba(136,136,206,0.7);
    background-blend-mode: soft-light;
    background-attachment: fixed;
    
}

.body:hover {
    background-blend-mode: multiply;
    background-color: grey;
}

.header h1 {
    padding-top: 80px;
    text-align: center;
    color: whitesmoke;
    ;
}

.header p {
    padding-top: 10px;
    font-size: 21px;
    font-style: italic;
    text-align: center;
    color: whitesmoke;
}

.containar {
    background-color: rgb(41, 41, 73);
    border-radius: 5px;
    margin-top: 30px;
    width: 50%;
    height: 84rem;
    margin-left: 23rem;
}

section {
    margin: 22px;
}

.main-containar {
    font-size: 20px;
    width: 100%;
    font-style: sans-serif;
    padding: 3%;
    color: white;
}

.form-control {
    width: 90%;
    height: 23px;
    font-size: 18px;
    margin-top: 3px;
    padding: 7px;
    padding-top: 15px;
    border-radius: 5px;
}

.radio {
    background-color: indigo;
    color: indigo;
}

.beautyfy-radio {
    width: 15px;
    height: 15px;
    border: 2px solid gray;
    display: block;
    border-radius: 50%;
    position: fixed;
    background-color: white;
}

input:checked~.beautyfy-radio {
    border: 2px solid red;
    position: absolute;
    top: 0px;
    left: -2px;
}

input:checked~.beautyfy-radio:after {
    content: "";
    width: 8px;
    height: 8px;
    background-color: red;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 3.2px;
    left: 3.2px;
}

.radio-box {
    position: relative;
}

.radio-type {
    display: block;
}

.form-control2 {
    width: 93%;
    height: 47px;
    font-size: 15px;
    margin-top: 3px;
    padding: 7px;
    padding-top: 15px;
    border-radius: 5px;
}

.comment {
    height: 80px;
    margin-top: 10px;
    width: 90%;
    padding: 0.62rem;
}

.button {
    display: block;
    width: 93%;
    background-color: #37af65;;
    color: inherit;
    border-radius: 2px;
    cursor: pointer;
    padding: 10px;
    font-size: 24px;
    outline: 1px;
    
}

label .font-end-projects {

    padding-left: 5px;
}

.custom-checkbox {
    width: 15px;
    height: 15px;
    border: 2px solid white;
    display: block;
    border-radius: 10%;
    position: absolute;
    top: 0px;
    background-color: white;
}

input:checked~.custom-checkbox {
    border: 2px solid red;
    position: absolute;
    top: 0px;
}

input:checked~.custom-checkbox:after {
    content: "\2713";
    width: 12px;
    height: 6px;
    font-size: 18px;
    position: absolute;
    top: -5px;
    left: 0px;
    color: orangered;
}

.box {
    position: relative;
    margin-top: 10px;
}

@media (max-width: 600px) {

  /*  body {
        max-width: 100%;
        height: 100%;
    }
    
    .containar {
        max-width: 50%;
        font-size: 50px;
}