@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {

	margin: 0;
}



.main-containar {

	width: 100%;
	height: 500px;
	background-color: #ffcf10;
	background-image: url(https://cdn.sstatic.net/Img/home/illo-hero-full.svg?v=e2018a5f9272);
	background-repeat: no-repeat;
	background-position: top center;

}

h1 {

	font-family: 'Roboto Slab Bold',serif;
	font-weight: 700;
	/*width: 90% !important; */
	text-align: center;
	padding-top: 140px;
	font-size: 58px;
	opacity: 0.8;
}

.code {
	font-family: serif;
}

.pera {

	max-width: 32.410256rem !important;
	font-size: 22px;
	padding-left: 440px;
}

.for-box {
    display: flex;
	font-size: 1.15rem;
}

.developers {
	height: 45px;
	width: 112px;
	border: 1px solid #f48024;
	margin-left: 510px;
	background: white;
	color: #f48024;
	border-radius: 5px;
	cursor: pointer;
}

a {
	text-decoration: none;
}

.businesses {
    height: 45px;
	width: 112px;
	border: 2px solid #f48024;
	margin-left: 5px;
	background: #f48024;
	color: white;
	border-radius: 5px;
	cursor: pointer;

}

.developer {

	text-align: center;
	font-size: 23px;
	margin-top: 55px;
	font-weight: 700;
	font-family: sans-serif;
}

.heading {

	font-family: 'Roboto Slab Bold',serif;
    font-weight: 700;
}

.border {

	height: 8px;
	width: 60px;
	background-color: #f48024;
	border-radius: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 24px;
}
.center {

	max-width: 50%;
	font-family: serif;
	width: 90%;
	text-align: center;
	font-size: 20px;
	font-weight: 100;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 48px;
}

.orange {

	color: #f48024;
}

.containar {
	max-width: 81.025rem;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: flex-start;
}

.public {

	text-align: center;
	font-size: 1.15384615rem;
	padding: 30px;
	margin-top: 64px;
	border-radius: 7px;
	box-shadow: #c8ccd0
}

.public1 {
	margin-bottom: 15px;

}

.public2 {

	font-family: serif;
	font-weight: 400;
	font-size: 1.615rem;
	margin-bottom: 15px;
}

.public3 {
	margin-bottom: 20px;
}

.browse {

	color: white;
	background-color: #2b2d6e;
	height: 38px;
    border: #2b2d6e;
    cursor: pointer;
    margin-top: 15px;
    width: 132px;
}

.try {
    color: white;
	background-color: #f48024;
	height: 38px;
    border: #f48024;
    cursor: pointer;
    margin-top: 15px;
    width: 132px;

}

.find {

	 color: white;
	background-color: #2b2d6e ;
	height: 38px;
    border: #2b2d6e ;
    cursor: pointer;
    margin-top: 15px;
    width: 132px;
}

.middle-containar {

    background-color: #f7f6f9;
    font-size:1.30rem;
    padding-top:128px;
    padding-bottom:128px;
}


.box-containar {

	display: flex;
}

.box-containar1 {

	display: flex;
	margin-top: 33px;
}

.box-containar2 {

	display: flex;
	margin-top: 33px;
}

.text {

	font-family: Roboto, serif;
	font-weight: 700;
	width: 90%;
	text-align: center;
	font-size: 2.615rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 24px;
}

.pera1 {

	font-size: 17px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
	font-weight: 100;
	text-align: center;
	max-width: 47%;
}

.star {
    display: flex;
	padding: 32px;
	/*box-shadow: 0px 5px #e4e6e8; */
}

.quick {
	max-width: 64%;
}

.block {
	display: block;
	margin-top: 14px;
	width: 75px;
	height: 75px;
}

.block-containar {

	background-color: #2b2d6e;
	padding-top: 128px;
	padding-bottom: 128px;
	padding-left: 32px;
	padding-right: 32px;
}

.heading {
	text-align: center;
	color: white;
	font-family: serif;
	max-width: 30rem;
	margin-left: auto;
	margin-right: auto;
}

.pera2 {

	margin-bottom: 32px;
	color: white;
	font-family: sans-serif;
	font-size: 1.30rem;
	margin-left: auto;
	margin-right: auto;
	max-width: 32.41rem;

}

.learn {
	color: white;
	background-color: #f48024 ;
	height: 40px;
    border: #f48024;
    cursor: pointer;
    margin-top: 15px;
    width: 132px;
}

.Learn {
    margin-left: 180px;
    margin-right: auto;

}

.box1 {

	padding-top: 32px;
	background-color: white;
	height: 480px;
}

.element {

	background-image: url(https://cdn.sstatic.net/Img/product/teams/illo-teams-pricing.svg?v=8afb8ac7c580);
	background-size: contain;
	height: 400px;
	width: 800px;
	background-repeat: no-repeat;
	/*background-position: center; */
	padding-bottom: 12px;
}

.div {
     color: black;
     font-size: 13px;
}
.you1 {

	display: flex;
}

.element1 {

	margin-left: 128px;
	margin-right: 128px;
	display: flex;
	margin: -18px;
}

.element-box {

	flex-basis: calc(33.33% - 32px);
	margin: 16px;
	display: flex;
}

.element-box1 {

	font-size: 1.15rem;
	padding: 24px;
}

.basic {

	font-family: 'Roboto Slab' , serif
	font-weight:400;
	font-size: 1.30rem;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
	align-self: flex-start;
	background-color: #c8ccd0;

}

.privat {

	height: 32px;
	margin-bottom: 24px;
	color: black;
}

.money {

	padding-bottom: 24px;
	margin-bottom: 24px;
}

.usd {

	font-family: 'Roboto Slab',serif
	font-weight:700;
	line-height: 1;
	font-size: 2.61rem;
	padding-top: 12px;
	margin-bottom: 6px;
	color: black;
}

.per {
	font-size: 1.15rem;
	color: #9199a1;
}

.free {

	display: flex;
	margin-bottom: 12px;
}

.free1 {

	margin-right: 12px;
}


.fa {
    color: black;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fully {

	display: flex;
	padding-top: 10px;
}

.get {

	margin-top: 60px;
}

.btn {

	font-family: sans-serif;
	font-weight: 700;
	color: #242729;
	position: relative;
	padding: .8em
	border :1px solid transparent;
	outline: none;
	line-height: 1.15;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	background-color:#d6d9dc;
	padding: 6px;
}

.btn:hover {
	background-color: #0095ff;
}

.leader1 {

	height: 25px;
}

.bold {

	font-family: 'Roboto Slab Bold' ,serif;
	font-weight: 700;
}

.leader2 {

	color: white;
}

.bottom-container {

	background-color: #f7f6f9;
	padding-top: 128px;
	padding-bottom: 128px;
}

.technical {
    display: flex;
    max-width: 81rem;
    width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.tech-img {
	width: 75px;
	height: 75px;
}

.Hire {

	font-family: 'Roboto Slab Bold' ,serif;
	font-weight: 700;
	font-size: 2.076rem;
	margin: 0;
}

.hire-text {

	font-family: 'Roboto Slab Bold' ,serif;
	font-weight: 100;
	font-size: 1.076rem;
	max-width: 555px;
}

.stack-talent {

    color: white;
	background-color: #f48024;
	height: 38px;
    border: #f48024;
    cursor: pointer;
    margin-top: 15px;
    width: 175px;	
}

.bottom-container1 {
/*	display: flex; */
	margin-left: 70px;
}

.footer-section {
	padding-top: 65px;
	padding-bottom: 65px;
}

.footer-text {

	font-family: 'Roboto Slab Bold', serif;
	font-weight: 700;
	font-size: 35px;
	text-align: center;
}

.divid {

	margin-bottom: 65px;
	display: flex;
}

.footer-img {

	width: 170px;
	height: 170px;

}

a {
	color: #0077cc;
	text-decoration: none;
	cursor: pointer;
}

.foot {

	font-family: 'Roboto Slab Bold' ,serif;
	font-weight: 700;
	font-size: 20px;
	
}

.foot-text {

	font-family: 'Roboto Slab Bold' ,serif;
	font-weight: 100;
	font-size: 18px;
	max-width: 322px;
}

.footer-side1 {

	margin-left: 40px;
}

.looking {

	background-color: #e1ecf4;
	position: relative;
	padding-top: 100px;
	padding-bottom: 130px;
}

.looking-text {

	font-family: 'Roboto Slab Bold' ,serif;
	font-weight: 700;
	max-width: 97.23rem;
	padding-left: 105px;
	font-size: 45px;
}

.looking-block {

	height: 77px;
	width: 225px;
	max-width: 210px;
	background-color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.06),0 2px 6px rgba(0,0,0,0.06),0 3px 8px rgba(0,0,0,0.09);
}

.looking-block1 {

	height: 77px;
	width: 225px;
	max-width: 210px;
	background-color: white;
}

.looking-block2 {

	display: flex;
}

.browse-cell {

	margin-top: 14px;
	color: black;
}


.jobs-container {
    display: flex;
    flex-direction: column;
    padding-top: 100px;

    padding-left: 50px;
    padding-right: 50px;
    background-color: #e1ecf4;
}
.jobs-title {
    display: flex;

    font-size: 34px;
    font-weight: bold;
}
.jobs-banner-container {
    display: flex;

    margin: 0;
    padding: 0;
    margin-top: 30px;
}
.jobs-banner {
    display: flex;
    margin-right: 30px;
    width: 200px;
    height: 50px;
    padding: 20px;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1),
        0 1.5px 6px rgba(0, 0, 0, 0.2);
}
.jobs-banner img {
    width: 40px;
    margin-right: 20px;
}
.jobs-btn button {
    padding-left: 30px;
    padding-right: 30px;
    height: 40px;
    margin-top: 0;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    margin-top: 25px;
    background-color: #f48024;
}

.animation-container {
    display: flex;
    color: #242429;
    background-color: #fff;
    justify-content: space-evenly;
    padding-top: 40px;
}
.animate-left,
.animate-right {
    display: flex;
    justify-content: left;
    width: 230px;
    padding-right: 0;
    margin-bottom: 20px;
}
.arrow {
    margin-right: -7px;
}
.left-animation img {
    width: 50px;
}

.right-animation img {
    width: 50px;
}

.middle-animation img {
    width: 500px;
}

.robot-image {
    display: flex;
    justify-content: right;
    margin-right: 10px;
    margin-top: 60px;
    align-self: flex-end;
}
.robot-image img {
    width: 60px;
    float: right;
}

.black {

	display: flex;
}

.tech {

	display: flex;
	margin-left: 90px;
	max-width: 184px;
	background-color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.06),0 2px 6px rgba(0,0,0,0.06),0 3px 8px rgba(0,0,0,0.09);

}

.robot {

	position: absolute;
	bottom: -4px;
	height: 50px;
	width: 50px;
	right: 64px;
}

.site-footer {
    background-color: #242729;
    height: 450px;
    background-image: none;
    background-position: top left;
    background-repeat: no-repeat;
    border-top: 0;
    background-size: auto;
    color: #6a737c;
    padding-top: 0;
    padding-bottom: 0;
}

.site-footer--container {
    max-width: 1264px;
}
.site-footer--container {
    max-width: 1264px;
    width: 100%;
    margin: 0 auto;
    padding: 32px 12px 12px 12px;
    display: flex;
    flex-flow: row wrap;
}

.site-footer-logo {
    flex: 0 0 64px;
   padding-left: 40px;
   padding-top: 30px;
 }

 .site-footer-nav {
    display: flex;
    flex: 2 1 auto;
    flex-wrap: wrap;
}

.site-footer-col {
    display: block;
}

.footer-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    font-family: sans-serif;
    padding-top: 15px;
    padding-left: 38px;
    margin-bottom: 12px;
    color: #bbc0c4;
    line-height: 1.30769231;
    max-width: 230px;
}

.footer-title :hover {

	color: #e8e8e8;
}

.site-footer-container {

	display: flex;
}

.ft-title {

	color: #bbc0c4;
	text-decoration: none;
}

.footer-list {

	margin: 0;
	list-style: none;
}

.list-item a {
    color: #848d95;
    padding: 4px 0;
    line-height: 1.30769231;
    display: inline-block;
    text-decoration: none;
 }
.list-item a:hover {

     color:#e8e8e8;
 }