body {
  background-color:beige;
}

.frame {

  height:80vmin;
  margin:10vmin auto;
  overflow:hidden;
  position:relative;
  width:80vmin;
}

.person 
  .body {
    background-color:#09f;
    border-radius:50%;
    bottom:9vmin;
    border: 5px solid darkslateblue;
    left: 6vmin;
    height:15vmin;
    position:absolute;
    width:60vmin;
  }
 
  .head {
    background-color:bisque;
    border-radius:50%;
    height:50vmin;
    margin: 10vmin 17.5vmin;
    position:relative;
    width:35vmin;
  }
    .ear {
      background-color:bisque;
      border:solid 1vmin bisque;
      border-radius:50%;
      box-sizing:border-box;
      height:12.5vmin;
      position:absolute;
      top:40%;
     /* width:3vmin; */
     }.ear.left {
        left:-1.5vmin;
        transform:rotate(-5deg);
      }
      .ear.right {
        right:-1.5vmin;
        transform:rotate(5deg);
      }
   
    .nose {
      background-color:black;
      border-radius:5vmin ;
      height:3vmin;
      left:15vmin;
      position:absolute;
      top:65%;
      width:6vmin;
    }

    */
    .mouth {
     /* background-color:#600;*/
      border-bottom:solid 1vmin #d88;
      border-radius:50%;
    /*  border-top:solid .5vmin #faa; */
      bottom:6vmin;
      height:1.5vmin;
      left:13.5vmin;
      overflow:hidden;
      position:absolute;
      width:8vmin;
    } 

     .teeth {
        background-color:#ffc;
        height:.5vmin;
        width:8vmin;
      }
    
    .hair {
      border-top:solid 7vmin black;
      border-radius:50%;
      height:50vmin;
      position:absolute;
      top:-2vmin;
      width:35vmin;
      }
    
      .hair:before {
        background-image:repeating-linear-gradient(60deg,black,black 2vmin, black 2vmin, black 3vmin);
        border-radius:0 50% 20% 20%;
        content:"";
        height:12vmin;
        left:7.5vmin;
        position:absolute;
        top:-7vmin;
        width:20vmin;
      }
    
    .beard {
      border-bottom:solid 10vmin #332929;
      border-radius:35%;
      bottom:0vmin;
      height:74vmin;
      opacity:1;
      position:absolute;
      width:36vmin;
     }
    
     .beard:before {
        border-radius:50%;
        border:solid 3vmin #310;
        bottom:-4vmin;
        box-sizing:border-box;
        content:"";
        height:5.5vmin;
        left:10vmin;
        position:absolute;
        width:15vmin;
      }
    
    .eyebrow {
      background-color:#310;
      border-radius:1vmin;
      height:2vmin;
      position:absolute;
      top:45%;
      width:8vmin;
     }
      .eyebrow.left {
        border-bottom-left-radius:100%;
        left:5vmin;
        transform:rotateX(165deg);
      }
     
      .eyebrow.right {
        border-bottom-right-radius:100%;
        right:5vmin;
        transform:rotateX(165deg);
      }

      .glas {

        position: absolute;
        top: 46%;
        background: black ;
        border-radius: 2vmin;
        height: 1vmin;
        width: 9vmin;
        left: -2vmin;
        transform: rotateZ(45deg);
        background: silver;
      }


      .glas1 {

        position: absolute;
        top: 46%;
        
        border-radius: 2vmin;
        height: 1vmin;
        width: 8vmin;
        left: 28vmin;
        transform: rotateZ(-45deg);
        background: silver;
      }
      .glas2 {

        position: absolute;
        top: 51%;
        height: 1vmin;
        width: 9vmin;
        left: 13vmin;
        
        background: silver;
      }
    
    .eye {
      background-color:#fff;
      border-radius:50%;
      height:3vmin;
      overflow:hidden;
      position:absolute;
      top:50%;
      width:6vmin;
     } .eye.left {
        left:7vmin;
      }
      .eye.right {
        right:7vmin;
      }
      .pupil {
        background-color:silver;
        position: absolute;
        left: 2vmin;
        border-radius:2vmin;
        height:2.5vmin;
        width:2.5vmin;
      }

     .glasses {
        position: absolute;
        top: 49%;
        left: 5vmin;
        background-color:silver;
        border-radius:2vmin;
        height:5.5vmin;
        width:8.5vmin;
     } 

      .l-hend {

        position: absolute;
        top: 75%;
        left: 130vmin;
        background-color:indianred;
        border-radius:3vmin;
        height:10.5vmin;
        width:8.5vmin;
      }

    .R-hend {

        position: absolute;
        top: 75%;
        left: 186vmin;
        background-color:indianred;
        border-radius:3vmin;
        height:10.5vmin;
        width:8.5vmin;
      }
    .cup {

        position: absolute;
        top: 80%;
        left: 90vmin;
        background-color:coral;
        border-radius:2vmin;
        height:9.5vmin;
        width:8.5vmin;
      }
        
    .cup1 {

    position: absolute;
    top: 81%;
    left: 95vmin;
    border-radius: 50vmin;
    border: 2px solid coral;
    height:4vmin;
    width: 5vmin;
  }

  .round {

    position: absolute;
    top: 41%;
    background: aquamarine;
    left: 195vmin;
    border: 2px darkgray;
    height: 6vmin;
    width: 6vmin;
    border-radius: 100%;
  }
 .round1 {

    position: absolute;
    top: 48%;
    background: darkcyan;
    left: 190vmin;
    border: 2px darkgray;
    height: 6vmin;
    width: 6vmin;
    border-radius: 100%;
  }

  .round2 {

    position: absolute;
    top: 41%;
    background: orange;
    left: 185vmin;
    border: 2px darkgray;
    height: 6vmin;
    width: 6vmin;
    border-radius: 100%;
  }


  .round3 {

    position: absolute;
    top: 81%;
    background: oldlace;
    left: 23vmin;
    border: 2px darkgray;
    height: 6vmin;
    width: 6vmin;
    border-radius: 100%;
  }

  .round4 {

    position: absolute;
    top: 84%;
    background: purple;
    left: 45vmin;
    border: 2px darkgray;
    height: 6vmin;
    width: 4vmin;
    border-radius: 100%;
  }

   .glasses1 {
        position: absolute;
        top: 49%;
        left: 21vmin;
        background-color:silver;
        border-radius:2vmin;
        height:5.5vmin;
        width:8.5vmin;
      }

   .laptop {
    
    position: absolute;
    background: silver;
    left: 50px;
    top: 73%;
    border: 4px solid gray;
    border-radius: 10%;
    height: 19vmin;
    width: 48vmin;
   }

   .border {

    position: absolute;
    top: 99%;
    border: 4px solid gray;
    height:0vmin;
    width: 70vmin;
   }
  
  .border1 {

    position: absolute;
    top: 89%;
    left: 284px;
    border: 2px solid gray;
    height:0vmin;
    width: 30vmin;
   }


  .border2 {

    position: absolute;
    top: 25%;
    left: 455px;
    border: 2px solid gray;
    height:0vmin;
    width: 57vmin;
   }

.border3 {

    position: absolute;
    top: 25%;
    left: 436px;
    border: 2px solid gray;
    height:0vmin;
    width: 57vmin;
   }

.border4 {

    position: absolute;
    top: 50%;
    transform: rotateZ(90deg);
    left: 181px;
    border: 2px solid gray;
    height:0vmin;
    width: 49vmin;
   }

.border5 {

    position: absolute;
    top: 50%;
    transform: rotateZ(90deg);
    left: 488px;
    border: 2px solid gray;
    height:0vmin;
    width: 49vmin;
   }

   .border6 {

    position: absolute;
    top: 75%;
    left: 105vmin;
    border: 2px solid gray;
    height:0vmin;
    width: 107vmin;
   }
.border7 {

    position: absolute;
    top: 89%;
    left: 201vmin;
    border: 2px solid gray;
    height:0vmin;
    width: 38vmin;
   }
   .border8 {

    position: absolute;
    top: 85%;
    left: 206vmin;
    background: darkcyan;
    border: 2px solid gray;
    height:3vmin;
    width: 25vmin;
   }
   .border9 {

    position: absolute;
    top: 81%;
    left: 215vmin;
    background: orange;
    border: 2px solid gray;
    height:3vmin;
    width: 20vmin;
   }
   .border10 {

    position: absolute;
    top: 77%;
    left: 210vmin;
    background: cyan;
    border: 2px solid gray;
    height:3vmin;
    width: 20vmin;
   }
   