@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&family=Poppins:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:ital,wght@1,100&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

body {
  font-family: 'Roboto', sans-serif;

}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.sidebar {
  position: fixed;
  right: -250px;
  width: 200px;
  height: 100%;
  background: #042331;
  transition: all .5s ease;
}

.sidebar header {
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 70px;
  background: #063146;
  user-select: none;

}

.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 60px;
  font-size: 20px;
  color: white;
  padding-right: 20px;
  text-align: center;
  box-sizing: border-box;
  border-top: 1px solid rgba(255,255,255,.1);
  border-bottom:1px solid black;
  transition: .4s; 
}

ul li:hover a{
  padding-left: 50px;
}

.sidebar ul a i {
  margin-left: 16px;
}

#check {
  display: none;
}

label #btn, label #cancel {
  
  position: absolute;
  cursor: pointer;
  background: #042331;
  border-radius: 3px;

}

label #btn {
  right: 40px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}

label #cancel{
  z-index: 1111;
  right: -195px;
  top: 18px;
  font-size: 30px;
  color: #0a5275;
  padding: 4px 9px;
  transition: all .5s ease;
}

#check:checked ~ .sidebar{
  right: 0;
}

#check:checked ~ label #btn {
  right: 250px;
  opacity: 0;
  pointer-events: none;
}

#check:checked ~ label #cancel{   
  right: 195px;

}

#check:checked ~ section{
  margin-right: 250px;
}

section {
  background: url(bkg.jpg ) no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
  transition: all .5s;
}