
body {
    margin: 0;
    padding: 0;
    font-family: 'poppins','sans-serif';
}

.flex-container {
  
   background-image: url(https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png);
    height: 570px;
    
}

 .navigation {

  display: flex;
  justify-content: space-between;
  padding: 50px 90px;

}

.navigation a {

  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  padding: 20px;

}

.title {

  text-align: center;
  padding-top: 70px;
  color: white;
  font-size: 85px;
  font-style: italic;
  font-family: fantasy;
  
}

.title img {
	width: 300px;
}

.tagline {

  color: #ffffff;
  text-decoration: none;
  font-size: 30px;
  text-align: center;
  padding-top: 20px;

}

.container {

  padding-top: 20px;
  text-align: center;

}

.containers {

  padding-top: 20px;
  text-align: center;

}

.containers input {

  height: 25px;
  width: 400px;
  border: none;

}

.container input {

  height: 25px;
  width: 200px;
  border: none;

}

.location {

  display: flex;
  margin-left: 400px;
  padding-top: 20px;

}

.location-box {

  padding-top: 20px;

}

.location-box button {

  height: 45.5px;
  color: #ffffff;
  width: 40px;
  border-top-right-radius: 7px;
  background-color: red;
  border-bottom-right-radius: 7px;
  border: 1px solid red;
  padding-top: 20px;

}

.fa {

	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}

.fa-search:before {
	content: "\f002"
}


.pics {

  width: 1200px;
  margin-left: 80px;
  margin-top: 50px;

}

.gallery {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.photos {

  border: 1px solid wheat;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 280px;
  height: 250px;

}

.photos img {

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

}

.photos p {

  text-align: center;
  font-size: 22px;
  color: rgb(54, 54, 54,);
  opacity: 0.8
  margin: 0;
  margin-top: 15px;

}

.photos a {
  text-decoration: none;
  color: black;
}

.heading {

  font-size: 30px;
  color: black;
  padding-top: 100px;
  font-family: sans-serif;
  padding-left: 50px;

}

.ending {

  display: flex;
  justify-content: space-between;
  padding-left: 56px;

}

.ending p {

  font-family: sans-serif;
  font-size: 17px;
  opacity: 0.9

}

.ending span {

  color: red;
  font-size: 20px;
  padding-top: 15px;
  padding-right: 60px;

}
 
.gallary2 {

  display: flex;
  flex-wrap: wrap;
  width: 90%;
  border : 2px orangered;
  height: 150px;
  color: white;
  font-size: 20px;
  align-items: center;
  justify-content: space-between;
  margin: 0px 40px 0px 40px;
}


.middel-images {
    display: flex;
    width: 75%;
    margin-left: 135px;
    margin-bottom: 20px;
    border: 2px orangered;
    height: 220px;
    justify-content: space-between;
    color: white;
    font-size: 20px;
    align-items: center;
} 

.middel-images1 {
    background-image: url("images/image1.jpg");
    height: 100%;
    background-position: center;
    width: 23%;
    background-size: cover;
    border-radius: 7px;
}

.middel-caption {
    margin-top: 165px;
    margin-left: 10px;
    align-items: center;
}

.middel-caption div {
    align-items: center;
}


.middel-caption i {
    font-size: 10px;
    align-items: center;
}

.middel-images2 {
    background-image: url("images/image2.jpg");
    height: 100%;
    background-position: center;
    width: 24%;
    background-size: cover;
    border-radius: 7px;
}

.middel-images3 {
    background-image: url("images/image3.jpg");
    height: 100%;
    background-position: center;
    width: 24%;
    background-size: cover;
    border-radius: 7px;
}

.middel-images4 {
    background-image: url("images/image4.jpg");
    height: 100%;
    background-position: center;
    width: 24%;
    background-size: cover;
    border-radius: 7px;
}

.middle h1 {

  font-size: 35px;
  text-align: center;
  padding-top: 60px;
  color: #363636;
  font-weight: 150;
  opacity: 0.9;
  font-family: sans-serif;

}

.flex-boxes {

  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  justify-content: space-between;
  margin: 0px 0px 0px 200px;
  padding-top: 10px;
  font-family: sans-serif;
  opacity: 0.9;

}

.flex-box {

  border: 1px solid lightgray;
  border-radius: 7px;
  box-shadow: 0 1px lightgray;
  margin-top: 30px;
  width: 310px;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
  color: #1c1c1c;
  font-family: sans-serif;

}

.flex-box span {

  font-size: 15px;
  padding-left: 20px;
  font-family: sans-serif;
}

.mobile {
    display: flex;
    width: 100%;
    background-color: rgb(250, 242, 243);
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.mobile img {
    width: 250px;
}

.mobile-side {
    width: 50%;
    margin-left: 40px;
    justify-content: center;
    align-content: center;
    padding-left: 40px;

}

.mobile-title {
    width: 100%;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: sans-serif;
}

.mobile-subtitle {
    width: 100%;
    font-size: 16px;
    font-family: sans-serif;
}

.share {
    margin-top: 15px;
    font-family: sans-serif;
}

.share input[type="radio"] {
    font-size: 30px;
    width: 30px;
    color: red;
}

.share input[type="Text"] {
    font-size: 18px;
    width: 65%;
    height: 40px;
    margin-top: 10px;
    color: gray;
    border-radius: 5px;
    border: 0.5px solid lightgray;
}

.share input[type="button"] {
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    color: white;
    background-color: rgb(252, 82, 82);
    border-radius: 5px;
    border: none;
    font-size: 13px;
}

.store {
    color: gray;
    font-family: sans-serif;
    padding-top: 20px;
}

.download {
    display: flex;
    width: 65%;
    margin-top: 15px;
    justify-content: left;
}

.download img {
    margin-right: 15px;
    width: 150px;
}

.aria {
    padding-left: 100px;
    background-color: rgb(252, 252, 252);
    font-family: sans-serif;
}

.aria-title {
    color: rgb(54, 54, 54);
    font-size: 30px;
    line-height: 60px;
}

.aria-subtitle {
    font-size: 23px;
    color: rgb(54, 54, 54);
    line-height: 40px;
    font-family: sans-serif;
}

.food-shop {
    margin-bottom: 50px;
}

.food-shop ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.food-shop i {
    font-size: 20px;
    color: black;
}

.food-shop li {
    margin-left: 25px;
    color: rgb(130, 130, 130);
    line-height: 32px;
}

.food-shop a {
    text-decoration: none;
    color: rgb(130, 130, 130);
    font-size: 18px;
}

.food-shop a:hover {
    color: rgb(15, 15, 15);
}

.cities {
    display: inline-block;
    text-align: left;
    width: 100%;
    margin-bottom: 50px;
    font-family: sans-serif;
}

.cities a {
    text-decoration: none;
    display: inline-block;
    text-align: left;
    width: 19%;
    color: rgb(130, 130, 130);
    line-height: 40px;
}

.cities a:hover {
    color: rgb(15, 15, 15);
}

.cmore a {
    width: 8%;
    color: black;
    font-weight: bolder;
    border-bottom: 2px solid black;
}

.footer {
    background-color: rgb(248, 248, 248);
    font-family: sans-serif;
    color: black;
    padding: 50px;
}

.footer img {
    height: 30px;
}

.language {
    width: 100px;
    float: right;
    height: 40px;
    font-size: 18px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.footer-section {
    display: flex;
    color: black;
    margin-top: 20px;
    opacity: 0.9;
}

.company {

    display: flex;
    flex-direction: column;
    width: 20%;
}

.company a {

    text-decoration: none;
    line-height: 30px;
    font-size: 14px;
}

.foodies {

    display: flex;
    flex-direction: column;
    width: 20%;
}

.foodies a {

    text-decoration: none;
    line-height: 30px;
    font-size: 14px;
}

.restaurant {

    display: flex;
    flex-direction: column;
    width: 20%;
}


.restaurant a {

    text-decoration: none;
    line-height: 30px;
    font-size: 14px;
}

.for-you {

    display: flex;
    flex-direction: column;
    width: 20%;
}

.for-you a {

    text-decoration: none;
    line-height: 30px;
    font-size: 14px;
}

.social-links {

    display: flex;
    flex-direction: column;
}

.social-links a {

    text-decoration: none;

    font-size: 14px;
}

.social-links img {

    height: 40px;
    margin: 5px;
}

.bottomline {
  
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 13px;
  color: gray;

  align: center;
}

.links i {
    color: black;
    font-size: 18px;
    margin: 7px;
}

.footer select #language option[value="English"] {

    background-image: url("images/globe.jpg");
}

.footer select #country option[value="English"] {

    background-image: url("images/flag-india.jpg");
}

@media (max-width: 700px) {
  
  .title img {
   
    width: 210px;
  }

  .tagline {
   
    font-size: 20px;
  
  }
  .navigation {

    width: 100%;
  }
}