@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:ital,wght@1,100&family=Roboto&display=swap");

body {
    background-color: #edf1f4;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
@media screen(max-width:400px) {
    .main-container {
        width: 25%;
    }
}
header {
    width: 100%;
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #cb202d;
}
.search i {
    color: white;
    font-size: 20px;
    margin-right: 20px;
}
.logo img {
    margin-left: 20px;
    height: 20px;
}
.search-container {
    align-content: center;
    width: 96%;
    padding: 5% 2% 0 2%;
}
.location {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    font-size: 16px;
    color: #33373d;
    font-weight: bold;
    margin-bottom: 2px;
    background-color: white;
    border-radius: 3px;
}
.location i {
    color: gray;
    font-size: 16px;
    margin: 6px;
}
.search-box {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: left;
    align-items: center;
    padding: 5px;
    font-size: 16px;
    color: gray;
    margin-bottom: 2px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2px lightgray;
}
.search-box i {
    color: gray;
    font-size: 14px;
    margin: 5px;
}
.restaurent-list p {
    color: gray;
    font-size: 17px;
}
.restaurent-list {
    width: 100%;
}
.restaurent-list p {
    margin-left: 2%;
}
.restaurent {
    display: flex;
    width: 100%;
    padding: 10px;
    background-color: white;
    margin-bottom: 10px;
    box-shadow: 0 2px lightgray;
}
.restaurent-img img {
    width: 100px;
    height: 100px;
    
    object-fit: cover;
}
.restaurent-details {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 10px;
    line-height: 20px;
}
.restaurent-name {
    color: #33373d;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
}
.dishes {
    color: gray;
    font-size: 13px;
}
.rate {
    color: gray;
    font-size: 13px;
}
.del-time {
    display: flex;
    color: #33373d;
    font-size: 13px;
    align-items: center;
}
.del-time i {
    font-size: 5px;
    margin: 10px;
}

.banner {
    justify-content: left;
    width: 96%;
    padding: 2%;
}
.upper-banner {
    display: flex;
    background-image: url("https://b.zmtcdn.com/application/images/pwa/o2_banner_background_blurred.jpg");
    height: 100px;
    align-items: center;
}
.upper-banner img {
    width: 80px;
    height: 80px;
    margin: 10px;
}
.upside-banner {
    display: flex;
    flex-direction: column;
    justify-content: left;
    line-height: 26px;
    margin-left: 10px;
}

.banner-title {
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.banner-subtitle {
    color: white;
    font-size: 14px;
}
.lower-banner {
    width: 100%;
    background-color: white;
    padding-bottom: 10px;
}
.middle-banner {
    display: flex;
    width: 100%;
    background-color: white;
}
.middle-banner i {
    color: green;
    font-size: 14px;
}
.left-right {
    width: 50%;
    color: #33373d;
    font-size: 16px;
    line-height: 30px;
    margin: 2%;
}
.lower {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 60px;
    background-color: green;
    color: white;
    text-align: center;
    border-radius: 3px;
    margin: auto;
}
.lower p {
    color: white;
    font-size: 20px;
    font-weight: bold;
}