body {
	margin: 0;
	height: 100%;
    opacity: 0.95;
}
header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    box-shadow: 0px 0px 5px 0px rgb(238, 235, 235);
    margin-bottom: 40px;
    font-family: "raleway", sans-serif;
}

.logo {

    display: flex;
    margin-left: 230px;
}

.company-name {

    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 5px;

}

.title {

    font-size: 16px;
    font-weight: bold;
    color: green;

}

.subtitle {

    font-size: 12px;
    font-weight: bold;
    color: red;

}

.user {

    display: flex;
    margin-right: 230px;
}

.bell {

    margin-right: 20px;
    font-size: 18px;
}

.user-details {

    display: flex;
}

.user-icon {

    font-size: 16px;
    margin-right: 5px;
}

.user-name {

    margin-right: 5px;
}

.main-container {
    
    border: 1px solid;
	background-color: white;
	width: auto;
	margin-left: 40px;
	margin-right: 40px;
}

.header {


    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 32px;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border: 1px solid lightgray;
    margin-bottom: 40px;
}

.challan,.tds,.fvu,.etds {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 15px;
    padding: 0px 8px 0px 8px;
}

.challan:hover {
    
    background-color: #e0dede;
}

.tds:hover {
    
    background-color: #e0dede;
}

.fvu:hover {
    
    background-color: #e0dede;
}

.etds:hover {

    background-color: #e0dede;
}

.circle {

    display: flex;
    position: relative;
    justify-content: center;
    background-color: white;
    align-items: center;
    height: 20px;
    width: 20px;
    padding: 5px;
    left: -9px;
    margin: 0;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 50%;
} 

.header a {

    text-decoration: none;
    margin-left: 10px;
    color: blue;
    font-weight: bold;
}


.fvu-table {

    font-family: "lato", sans-serif;
    font-size: 18px;
    padding-left: 50px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

.fvu-table table {
   
    font-size: 18px;
    border-collapse: collapse;
   
    border: 1px solid gray;
    background-color: #fbfbfb;
    text-align: center;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    font-family: "lato", sans-serif;

}

.error {

    color: rgb(189, 25, 25);

}

.sw-warning {

    color: orange;
}

@@ -95,14 +105,14 @@
.fvu-table th {

    border-bottom: 1px solid lightgray;
    border-right: 1px solid cornflowerblue;
    padding: 10px 30px 10px 30px;
    padding: 10px 28px 10px 28px;
}

.fvu-table tr {

    border-bottom: 1px dotted cornflowerblue;
}

.fvu-table td {

    border-right: 1px solid cornflowerblue;
    padding: 10px 30px 10px 30px;
    padding: 10px 28px 10px 28px;
}

.fvu-table tr:last-child {

    border-bottom: 0;
    border-right: 0;
}

.fvu-table table {

    border-collapse: collapse;
    background-color: #fbfbfb;
    text-align: center;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}

.footer {

    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.footer button {

    justify-self: center;
    height: 40px;
    font-size: 20px;
    margin-left: 5px;
    border: none;
    background-color: #fbfbfb;
}


.footer #validate {

	background-color: rgb(170, 170, 170);
	margin: 5;
}

.footer button:focus {

    background-color: #e0dede;
    outline-color: transparent;
}

@media (max-width: 500px) {

    .main-container {

        width: 100%;
        height: auto;
    }

    .header {
        width: 128%;
    }

    .fvu-table {
        padding-top: 10px;
    }
}